<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,intial-scale=1.0">
    <title>
        city not found
    </title>

    <link href="{{url_for('static',filename='style/style/css')}}",
    rel="stylesheet"/>


</head>
<body>
    <h1>city not found</h1>
    <h2>punha prayatna karun bagh</h2>
    <form action='/weather'>
    <input type="text" placeholder="enter name of city" name="city" id="city"></input>
    <button type="submit">submit</button>
    </form>
</body>
</html>    